<!doctype html>
<html>
	<head>
		<title>Start Page</title> 
	</head>
	<link href="./styles/hello.css" rel="stylesheet">
	<body>
		<% include ../partials/hello %>
		<% include ../partials/bookmarks_form %>
	</body>
</html>