<!-- add validations on empty -->

<form action="/add-bookmark" method="post">
	URL: <br>
	<input type="text" name="bookmark_url"><br>
	Name: <br>
	<input type="text", name="bookmark_name"><br>
	<input type = "submit" value = "Submit">
 </form>

 <% include bookmarks_list %>